html {
  background-color: #fff !important;
}
iframe {
  width: -moz-available;
  width: -webkit-fill-available;
}

/* On screens that are 768px or less */
@media screen and (max-width: 829px) {
  .site-body .page-header {
    padding: 40px !important;
  }
  .ui.container .image {
    width: auto !important;
  }
}

.page-header + .page-body {
  padding: 0;
}
.page-body > .container {
  min-width: 100%;
  padding: 0;
  margin: 0;
}
.page-content-wrapper .page-body .container {
  padding-left: 24px;
  padding-right: 24px;
}

.page-content-wrapper .page-content-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.page-content-container .header.item {
  font-family: Montserrat;
}

.main-app-container {
  width: 100%;
}

body {
  overflow-x: hidden !important;
  font-family: "montserrat", arial, helvetica, sans-serif !important;
  font-size: 16px !important;
  line-height: 1.5em !important;
  background-color: #fff !important;
  color: #282828 !important;
  margin: 0 !important;
  padding: 0 !important;
}

li a {
  color: #075391;
}

.display-none {
  display: none !important;
}

#header {
  background-size: cover;
  padding: 0;
  border-radius: 0;
  margin-bottom: 3em;
}
#navigation {
  background: rgba(156, 0, 4, 0.5);
  padding: 2em;
}
#navigation h4 {
  font-family: Montserrat;
}
.ui.menu .item .selected {
  border-bottom: 2px solid;
}
.ui.menu .item:hover {
  color: #fff !important;
}
#navigation .ui.inverted.header {
  margin-top: 0;
  font-family: Montserrat;
  font-size: 2.28rem;
  margin-bottom: 16px;
}
.sub-header-navigation .item > a {
  font-size: 1.15rem;
}

#navigation .sub-header-navigation {
  margin-top: 16px;
}

#header img {
  float: right;
}
div.player-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
iframe.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.page-header img {
  float: right;
}

.feed.programs h1 > a {
  color: #075391;
}
.feed.programs section.latest_program {
  border: 4px solid #e6e6e6;
  padding: 1.5em;
  border-radius: 0.375em;
  margin-bottom: 0.375em;
}
.feed.programs section.latest_program h1 {
  font-size: 1.728em;
  line-height: 1.0850694444em;
  margin: 0em;
  font-weight: 900;
}
.feed.programs section.latest_program h1 a {
  text-decoration: none;
  color: #282828;
}
.feed.programs section.latest_program time {
  display: block;
  color: #888;
  font-size: 0.8333333333em;
  line-height: 1.8em;
  margin: 0em;
}
.feed.programs section.latest_program .description {
  margin: 0.75em 0;
}
.feed.programs h1,
.feed.programs .title {
  font-family: Montserrat;
}

.scripture.tab h2 {
  font-size: 1.44em !important;
  font-family: "montserrat", arial, helvetica, sans-serif !important;
}

.page-aside h2 {
  font-family: "montserrat", arial, helvetica, sans-serif !important;
}
.page-aside p {
  margin-bottom: 1.875em !important;
}

.page-aside a {
  color: #075391;
  cursor: pointer;
  text-decoration: underline;
}

.centered.cards[data-title="minitries-page"] .content .header {
  font-family: Montserrat !important;
  font-size: 1em !important;
}

.centered.cards[data-title="minitries-page"] .content .description {
  line-height: 1.5em;
  font-size: 0.7em;
}

.ui.secondary.pointing.menu .header.item a {
  font-family: "montserrat", arial, helvetica, sans-serif;
}

.page-nav ul li {
  margin-right: 1.5em !important;
}

.page-loader {
  display: none;
  text-align: center;
}
